<link href="~/Content/homestylesheet.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}


    <h1 id="title">Welcome to Almost IMDB!</h1>


<div class="row options">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
          Movies
        </p>
        <p><a class="btn btn-default" href="/Movies/Index">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Directors</h2>
        <p>See a List of Directors.</p>
        <p><a class="btn btn-default" href="~/Views/Directors/Index">Directors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>See a List of Genres.</p>
        <p><a class="btn btn-default" href="~/Views/Genres/Index">Genres &raquo;</a></p>
    </div>
</div>